stages:
  - deploy
  - release

composer:
  stage: deploy
  image: php:8-cli-bookworm
  before_script:
    - echo COMPOSER_JOB_ID=$CI_JOB_ID >> dotenv.env
  script:
    - apt-get update && apt-get install -y zip libzip-dev git
    - docker-php-ext-install mysqli zip
    - php bin/composer.phar update
    - mkdir emensa  # new target to be included in the zip file
    - mv bin config controllers models public routes vendor views README.md composer.* -t emensa
    - mkdir -p emensa/storage/cache/beispiele  # this folder is missing due to .gitignore
    - zip -9 -r emensa.zip emensa -x dotenv.env -x start_server.bat -x .gitlab-ci.yml -x .gitignore -x ".git/*"
  rules:
    - if: $CI_COMMIT_TAG
  artifacts:
    name: "emensa_zip"
    paths:
      - emensa.zip
    reports:
      dotenv: dotenv.env

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  needs:
    - job: composer
      artifacts: true
  script:
    - echo "releasing $CI_COMMIT_TAG using artifact from"
    - echo "https://git.fh-aachen.de/datalab/routingscript/-/jobs/${COMPOSER_JOB_ID}/artifacts/file/emensa.zip"
  release:
    tag_name: '$CI_COMMIT_SHORT_SHA'
    name: "$CI_COMMIT_TAG"
    description: 'MVC Routing Script'
    assets:
      links:
        - name: 'Routing Script Download'
          url: 'https://git.fh-aachen.de/datalab/routingscript/-/jobs/${COMPOSER_JOB_ID}/artifacts/file/emensa.zip'
